.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.card-container {
  -webkit-box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.06);
  max-width: 588px;
  width: 100%;
}

.card {
  position: relative;
  width: 100%;
  border-radius: 8px;
  padding: 16px 12px;
  -webkit-box-shadow: 0px 8px 12px -2px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 8px 12px -2px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 8px 12px -2px rgba(0, 0, 0, 0.08);
}

.back-arrow {
  position: absolute;
  top: 22px;
  left: 16px;
}

.header {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.1px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 18.5px;
  margin-top: 0px;
}

.team-member {
  padding: 19px 24px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f4f5f6;
}

.profile-photo {
  margin-right: 24px;
}

.team-member__details {
  flex-grow: 1;
  margin-right: 24px;
}
