.navbar {
  height: 80px;
  padding: 16px;
}

.navbar-contents {
  max-width: 1216px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-link {
  margin-right: 16px;
  transition: opacity 200ms;

  &:hover {
    opacity: 0.6;
  }
}

.navbar__links {
  display: none;
}

.navbar__link {
  padding: 12px 16px;
  color: black;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: opacity 200ms;

  &:hover {
    opacity: 0.6;
  }
}

.chevron {
  margin-left: 8px;
}

.get-started {
  display: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  text-decoration: none;
  color: white;
  background: rgb(75, 66, 215);
  background: linear-gradient(
    90deg,
    rgba(75, 66, 215, 1) 0%,
    rgba(18, 172, 186, 1) 100%
  );
  padding: 12px;
  border-radius: 8px;
  transition: opacity 200ms;

  &:hover {
    opacity: 0.6;
  }
}

.spacer {
  display: block;
  width: 42px;
  height: 42px;
}

.menu {
  border: 0px;
  background: transparent;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  transition: background 200ms;
  border: 1px solid #f4f5f6;
  justify-self: flex-end;

  &:hover {
    background: #f4f5f6;
  }
}

@media only screen and (min-width: 1040px) {
  .navbar-contents {
    justify-content: space-between;
  }

  .navbar__links {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-wrap: wrap;
  }

  .get-started {
    display: block;
  }

  .menu {
    display: none;
  }
}

@media only screen and (min-width: 1060px) {
  .spacer {
    display: none;
  }

  .navbar__link {
    font-size: 16px;
  }
}
